{% extends "base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<!-- <link rel="stylesheet" href="{% static 'css/welcome_page.css' %}"> -->
{% endblock extra_css %}

{% block extra_js %}
    {# Home page javascript #}
    {% render_bundle 'vendors~home' 'js' 'DEFAULT' %}
    {% render_bundle 'home' 'js' 'DEFAULT' %}
{% endblock extra_js %}

{% block content %}
<!-- {% include 'home/welcome_page.html' %} -->

    <div id="app">
        <hero></hero>
    </div>

    {# Home page javascript #}
    <!-- {% render_bundle 'vendors~home' 'js' 'DEFAULT' %}
    {% render_bundle 'home' 'js' 'DEFAULT' %} -->

{% endblock content %}


